/* from dashboard home.php */

.main_dsh_text h6 {

    margin: 1rem 0;

}

.main_dsh_text p {

    font-size: 12px;

}

.side_main_img img {

    max-width: 410px;

}

.view-notification {
    background: none;
    border: none;
    color: #429FFF;
    padding: 0;
    font: inherit;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.view-notification:hover {
    text-decoration: none;
    color: #0056b3;
    background-color: transparent;
}

button.view-notification:focus {
    background: transparent;
    color: #0056b3;
}

/*  Responsive */

@media (max-width:1440px) {

    .side_main_img img {

        max-width: 410px;

    }

}

.main_dash_1 {
    max-width: 100%;
}

.main_dash_1 .mian_box_btm {
    max-height: 250px;
    padding: 1rem;
}

.main_dash_1 .mian_box_btm.bg_yellow {
    max-height: 250px;
    padding: 1rem;
}

.main_dash_1 .mian_box_btm.bg_green {
    max-height: 250px;
    padding: 1rem;
}

.dash_home {
    max-width: 100%;
}

.main_home2 {
    max-width: 100%;
}

.knowlage_img {
    max-height: 80px;
}



/* From user-dashboard.php */
.emergency_textbox {
    display: none
}

.general_textbox {
    display: none
}

.repair_textbox {
    display: none
}

.property_textbox {
    display: none
}

.health_inputbox {
    display: none
}

.food_textbox {
    display: none
}

.volunteer_textbox {
    display: none
}

.severe_checkbox {
    display: none
}

.structural_checkbox {
    display: none
}

.terrorist_checkbox {
    display: none
}

.disaster_textbox {
    display: none
}

.modal {

    visibility: unset;

}

.profile_medal .profile_count_main img {

    width: auto;

    height: auto;

    min-height: 60px;

}

.profile_count_title {

    font-size: 10px;

}

.profile_medal .col-md-3 {

    padding: 0px 7.5px;

}

/*.profile_count_main{

   min-height: 100px;

}*/

.skills_add_b {
    border: 1px dashed #D3D3D3;
    background: none;
    width: 100px;
    justify-content: center;
    border-radius: 15px;
}

.skills_add_b a {
    background: none;
    padding: 10px;
    font-size: 16px;
    color: #242424;
}



.skill_add1 .skill-box {
    background: none !important;
}



.input_main1 .skill-box {
    height: 45px;
    text-align: center;
    align-items: center;
}



.skills_add_b button:hover {

    color: #242424;

    background: transparent;

}



.check-boxess .btn-primary {

    background: #F96703 0% 0% no-repeat padding-box;

    box-shadow: 0px 10px 20px #00000029;

    border-radius: 9px;

    opacity: 1;

    width: 200px;

    height: 60px;

    border: 0;



}

.check-boxess h4 {

    font-size: 16px;

    font-weight: 600;

}

/* from dashboard-coordinationCenter.php */
.main_box_btm p {
    margin-bottom: 10px;

}

.coordination_icon img {
    width: auto !important;
}

/* from group-ums.php */
.dashboard .title_group {
    font-size: 25px;
}

.dashboard .btn-primary {
    background: #F9671D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 99px #ccd6ff3e;
    border-radius: 9px;
    font-size: 13px;
    color: #FFFFFF;
    height: 50px;
    padding: 12px 12px;
    border: 1px solid#F9671D;
}

.dashboard .btn-primary:hover {
    background: #F9671D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 99px #ccd6ff3e;
    border-radius: 9px;
    font-size: 13px;
    color: #FFFFFF;
    height: 50px;
    padding: 12px 12px;
    border: 1px solid#F9671D;
}

.course-info-course .btn-primary:hover {
    background: #F96703;
    padding: 15px 60px;
    box-shadow: 0px 10px 20px #00000029;
    border-radius: 9px;
    opacity: 1;
    height: 63px;
    text-align: center;
    color: #ffff;
    border-color: #F96703;
}


/* from tab my requests */
.title_group {
    font-size: 25px;
}

.close-group img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

/* from group create */
@media screen and (max-width: 768px) {
    .donation_tab_pills {
        margin-left: 30px;
    }
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}

.group-edit-page .avatar-edit input+label:after {
    min-height: 0px !important;
    top: 20px !important;
    left: 0px;
}

.main_profile_form label {
    font-size: 16px;
}

span.extension-name {
    font-size: 13px;
}

span.browse {
    color: #429FFF;
}

.group-edit-page .avatar-edit input+label:after {
    content: "\f093";
    color: #0E559F;
    font-size: 40px;
}


/* from single-groups.php */
.blog_u {
    height: 30px;
}

.blog_u li a img {
    margin-right: 5px;
}

.blog_u .dropdown-menu {
    position: absolute;
    right: 0;
    top: 0;
}

.dropdown-menu {

    position: absolute;

    top: 100%;

    left: 0;

    z-index: 1000;

    display: none;

    float: left;

    min-width: 10rem;

    padding: .5rem 0;

    margin: .125rem 0 0;

    font-size: 1rem;

    color: #212529;

    text-align: left;

    list-style: none;

    background-color: #fff;

    background-clip: padding-box;

    border: 1px solid rgba(0, 0, 0, .15);

    border-radius: .25rem;

}

.ck-editor__editable_inline {

    min-height: 200px;

}





.donate_detais_main .imgHeightWidth {

    height: 200px;

    width: 100%;

    background: transparent url('img/shutterstock_1143859865.png') 0% 0% no-repeat padding-box;

    border-radius: 13px;

    opacity: 1;

    object-fit: contain;

}





/*End code */

.bor {

    border: 1px solid red;

}

.modal {

    visibility: unset;

}

.image-upload>input {

    display: none;

}



.image-upload img {

    width: 80px;

    cursor: pointer;

}



.dropdown-item:focus,
.dropdown-item:hover {

    color: #16181b;

    text-decoration: none;

    background-color: unset;

}

.add-mem-list .col-lg-4 {

    padding-left: 3.5px;

    padding-right: 3.5px;

    margin-bottom: 7px;

}

.modal .modal-dialog {

    width: 100% !important;

}

.blog_grid .col-xl-4.col-lg-4.col-md-4 {

    padding-left: 3.5px;

    padding-right: 3.5px;



}

.blog_grid .col-xl-12.col-lg-12.col-md-12 {

    padding-left: 3.5px;

    padding-right: 3.5px;

}

.now_donate img {

    height: 15px;

}





.disaster_p {
    padding: 15px 0px;
}

.disaster_p .row {
    padding: 0px 40px;
}

.situation_title {
    margin-bottom: 30px;
}

.situation_contant {
    margin-bottom: 50px;
}

.situation_report .modal-content {
    max-width: 714px;
}

.situation_contant p {
    font-size: 15px;
    color: #242424;
    font-family: 'Poppins';
    margin: 0px 54px;
    text-align: center;
}


/* from group-edit.php */

@media screen and (max-width: 768px) {

    .donation_tab_pills {



        margin-left: 30px;

    }



}



.image-upload>input {

    display: none;

}



.image-upload img {

    width: 80px;

    cursor: pointer;

}

.group-edit-page .avatar-edit input+label:after {

    min-height: 0px !important;

    top: 20px !important;

    left: 0px;

}

.main_profile_form label {

    font-size: 16px;

}

span.extension-name {

    font-size: 13px;

}

span.browse {

    color: #429FFF;

}

@media screen and (max-width: 768px) {

    .donation_tab_pills {

        margin-left: 30px;

    }

}

.image-upload>input {

    display: none;

}



.image-upload img {

    width: 80px;

    cursor: pointer;

}

.group-edit-page .avatar-edit input+label:after {

    min-height: 0px !important;

    top: 20px !important;

    left: 0px;

}

.main_profile_form label {

    font-size: 16px;

}

span.extension-name {

    font-size: 13px;

}

span.browse {

    color: #429FFF;

}



.group-edit-page .avatar-edit input+label:after {

    content: "\f093";

    color: #0E559F;

    font-size: 40px;

}


/* flash notifications */
.flash-message {
    padding: 1rem;
}


/* group card */
.custom-card {
    padding: 20px;
}


/* from single-post.php */
.main_footer_sec {
    background: #134793 0% 0% no-repeat padding-box;
    border-radius: 50px 0px 0px 0px;
    padding: 1rem 0rem 2rem 0rem;
    margin-top: 40px;
    float: right;
}

.top_title h5 {
    font-size: 27px;
    margin-left: 80px;
}


/* from knowledge-center.php */

.main_box_btm img {
    height: 200px;
}

.title_course .start_course {
    font-size: 18px;
    color: #242424;
    font-weight: 550;
    margin-top: 1rem;
    margin-left: 5px;
    margin-bottom: -5px;
}

.title_course h5 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.progress {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    /* margin: 0 0px; */
    margin: 8px 0px 5px 0px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #f9671d;
    transition: width .6s ease;
    border-radius: 50px;
}

.right_side_know h5 {
    font-size: 11px;
    /* color: #222222; */
}

.right_side_know h3 {
    font-size: 16px;
    color: #242424;
    margin: 0.5rem 0rem;
    font-weight: 550;
}

.pro-per h5 {
    color: #F96703;
    font-size: 15px;
}

.pro-per .complete_pro {
    color: #4ABE2B;
    font-size: 13px;
}

.crt-title {
    font-size: 11px;
    font-weight: 600;
}

.crt-title-span {
    font-size: 10px;
}

.card-box .title h3 {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
}

.card-box .title p {
    font-size: 11px;
}

.card-box .certificate-btn {
    min-height: 40px;
    border-radius: 9px;
    box-shadow: 0px 10px 20px #00000029;
    background: #F96703 0% 0% no-repeat padding-box;
}

.card-box .left-side {
    padding-right: 50px;
}

.footer_f2 {
    width: auto;
}

.right_side_know h3 a {
    color: #000;
    font-weight: 550;
}

.card-box {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 2px;
}

.main_box_btm h5 {
    font-size: 16px;
}

.donation_tab_pills {
    padding: 2rem 3rem 2rem 0rem;
}

.donation_tab_pills.mian_knowlage_top ul.nav-pills {
    margin-left: 15px;
}

.items_circle {
    top: 762px;
    left: 484px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    /* UI Properties */
    background: var(--unnamed-color-71706f) 0% 0% no-repeat padding-box;
    background: #71706F 0% 0% no-repeat padding-box;
    opacity: 1;
}

.inner-card-box {
    display: flex;
}

.earned-box {
    display: flex;
}

@media (min-width:320px) and (max-width:576px) {
    .progress {
        width: 80%;
        height: 10px;
        border-radius: 50px;
        background-color: #ffffff;
        position: relative;
        cursor: pointer;
        /* margin: 0 0px; */
        margin: -24px 20px 5px 40px;
    }

    .inner-card-box {
        display: inline;
    }

    .earned-box {
        display: inline;
    }

    .card-box .left-side {
        padding-right: 50px;
        margin-top: -5px;
    }

    button.certificate-btn {
        margin-bottom: 15px;
    }

    .top_center_main {
        margin-left: 0px !important;
    }
}


.Main_content {
    min-height: 667px;
}

.knolw_cen_cour .main_footer_sec {

    background: #134793 0% 0% no-repeat padding-box;

    border-radius: 50px 0px 0px 0px;

    padding: 1rem 0rem 2rem 0rem;

    margin-top: 40px;

    float: right;

}


.Main_content {
    min-height: 667px;
}

.knolw_cen_cour .main_footer_sec {

    background: #134793 0% 0% no-repeat padding-box;

    border-radius: 50px 0px 0px 0px;

    padding: 1rem 0rem 2rem 0rem;

    margin-top: 40px;

    float: right;

}

.training .section-title {

    text-align: center;

    margin-top: 10px;

    margin-bottom: 10px;

}

.course-content h3 {

    width: 100%;
}




.dashboard .about_donate p {

    font-size: 16px;

    color: #242424;

    margin: 0px 0px 0px 0px;

    text-align: center;

}

.group-description {
    margin-top: 20px;
    max-width: 960px;
}


/* dashboard-tab.php */

.user-dashboard-tab .carousel-control-prev {
    display: flex;
    justify-content: center;
    left: unset;
    right: 45px;
}

.user-dashboard-tab .carousel-control-next {
    height: unset;
    right: 90px !important;
}

.user-dashboard-tab .carousel-control-next,
.carousel-control-prev {
    bottom: unset;
    width: 5%;
    top: 78px;
    color: #4c76ab !important;
    height: 30px;
    opacity: 1px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #4c76ab;
}

.user-dashboard-tab .date-part {
    margin-top: 30px;
}

.user-dashboard-tab .date-part .date-title {
    font-size: 18px;
    color: #000;
}

.user-dashboard-tab .carousel-control-next,
.carousel-control-prev i {
    color: #4c76ab;
}

.user-dashboard-tab .time-section {
    width: 30%;
}

.user-dashboard-tab .underline-section {
    width: 70%;
}

.user-dashboard-tab .underline-section ul {
    padding: 0px;
    margin: 0px;
}

.user-dashboard-tab .underline-section ul li {
    margin-bottom: 15px;
    list-style: none;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: 15px;

}

.user-dashboard-tab .underline-section ul li:first-child {
    margin-top: 15px;
}

.user-dashboard-tab .underline-section ul li:last-child {
    margin-bottom: 0px;
}


.user-dashboard-tab .time-section ul {
    padding: 0px;
    margin: 0px;
}

.user-dashboard-tab .time-section ul li {
    color: #000;
    font-size: 14px;
    padding-bottom: 15px;
    margin-left: 5px;
    list-style: none;
}

.user-dashboard-tab .time-section ul li:first-child {
    margin-top: 15px;

}

.user-dashboard-tab .time-section ul li:last-child {
    margin-bottom: 0px;
}

.user-dashboard-tab .card-box-donation .card-btn .btn-primary {
    min-height: 50px;
    width: 95%;
}

.progress .progress-bar {
    color: #f9671d;
}



/* jim work for dashboard */

.profile-information-column>div {
    margin: 5px 0;
}

img.profile_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.display_groups_connects {}

.display_name {
    font-size: 20px;
    font-weight: 600;
}

#group_info img {
    max-height: 480px;
}



/* announcements */

.announcement-bg {

    background: #FFFFFF 0% 0% no-repeat padding-box;

    box-shadow: 0px 10px 20px #00000029;

    opacity: 1;

    margin: 50px 0px;

    border-bottom-left-radius: 20px;

    border-bottom-right-radius: 20px;

}

.announcement-bg img {

    /* min-height: 500px; */

    max-height: 480px;

    border-radius: 11px;

    /* width: 100%; */

}

.announcement-bg .announcement-desc {

    padding-top: 25px;

    padding-left: 35px;

    padding-right: 35px;

    padding-bottom: 35px;

    opacity: 1;

}

.announcement-bg .announcement-desc .date p {

    color: #71706F;

    font-size: 14px;

}

.announcement-bg .announcement-desc .main-title h3 {

    font-size: 26px;

    color: #242424;

    padding-bottom: 20px;

}

.announcement-bg .announcement-desc .description-sec p {

    padding-bottom: 30px;

    color: #71706F;

    font-size: 14px;

}

.announcement-bg .announcement-desc .description-sec p:last-child {

    padding-bottom: 0px;

}

.top-title-II .title-II h3 {

    color: #132843;

    font-size: 26px;

}

.top-title-II .detail-btn .btn-outline-primary:hover {

    background: #F96703;

    border: 1px solid #F96703;

    color: #fff;

}



.top-title-II .detail-btn .btn-outline-primary {

    width: 202px;

    min-height: 50px;

    background: #FFFFFF 0% 0% no-repeat padding-box;

    box-shadow: 0px 3px 99px #CCD6FF3E;

    border: 1px solid #0E559F;

    border-radius: 9px;

    opacity: 1;

    color: #0E559F;

    display: flex;

    align-items: center;

    justify-content: center;

}


/* from create forms */
.course-details1-temp .main_footer_sec {

    background: #134793 0% 0% no-repeat padding-box;

    border-radius: 50px 0px 0px 0px;

    padding: 3rem 0rem 0rem 0rem;

    margin-top: 40px;

    float: right;

}

.create-report .form-box .report-next-tab .all-form .main-form-section .form-group .select2-search__field {

    top: 0px !important;

    padding: 0px 0px 25px 0px;

}

::placeholder {

    color: #212529 !important;



    opacity: 1;
    /* Firefox */

}



::-ms-input-placeholder {
    /* Edge 12-18 */

    color: red;

}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {

    margin-top: 20px;

}

.select2-container {

    background: unset !important;

    box-shadow: unset !important;

}



.hides {
    display: none;
}



.marker {
    float: right;
    color: red;
}



.glyphicon {

    font-size: 20px;

}

.glyphicon-remove {

    color: red;

}

.glyphicon-ok {

    color: green;

}

.btn-disabled.disabled {

    pointer-events: none;

    cursor: default;

}



/* view report */
.title_create h4 {
    font-size: 16px;
    color: #132843;
    margin: 1rem 0 1rem 0;
    font-weight: 600;
}

.title_create h4 span {
    color: #F92903;
}

.title_create p {
    font-size: 13px;
    color: #000000;
}

.radio_sec.flow_radio_Sec label {
    font-size: 14px;
    color: #132843;
    font-weight: 500;
}

.radio_sec.flow_radio_Sec .container_radio .checkmark {
    top: 0px;
    left: -3px;
    height: 20px;

    width: 20px;
    border: unset;
    border-radius: 50%;
    background: #EEEEEE 0% 0% no-repeat padding-box;
}

.radio_sec.flow_radio_Sec .container_radio .checkmark:after {
    top: 0px;
    left: 0px;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #F9671D;
}

.radio_right {
    margin: 0.5rem 1.5rem 0.5rem 0rem;
}

.input_sec .form-control {
    background: #FFFFFF 0% 0% no-repeat padding-box;

    box-shadow: 0px 6px 16px #00000012;
    border-radius: 12px;
    font-size: 13px;

    color: rgba(36, 36, 36, 0.35);
    padding: 1rem 0.5rem;
}

.main_flow div {
    margin: 1rem 2rem 1rem 0rem;
}

.main_flow h4 {
    font-size: 14px;
    color: #132843;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.main_flow p {
    font-size: 13px;
    color: #71706F;
    font-weight: 500;
}

.main_flow {
    display: flex;
}

.situation_report {
    visibility: unset;
}

.print_btn a {

    background: #F9671D 0% 0% no-repeat padding-box;

    box-shadow: 0px 3px 99px #ccd6ff3e;

    border-radius: 9px;

    font-size: 13px;

    color: #FFFFFF;

    padding: 1rem 1.5rem;

    margin-right: 1rem;

    display: flex;

}

.g_donation_tab_pills .title_create {

    background: #f8f8f8;

    padding: 3px 26px;

    margin: 5px 0px 10px;

}

.Coordination_main .top_title h5 {

    font-size: 27px;

}

.back_btn {

    margin-top: 0;

}

@media only screen and (max-width:1024px) {

    .Coordination_main .top_title h5 {

        font-size: 15px;

    }

}

@media only screen and (max-width:768px) {

    .print_btn a {

        display: flex;

        justify-content: center;

    }

    .Coordination_main .top_title h5 {

        font-size: 18px;

    }

    .print_btn a img {

        margin-left: 10px;

    }

    .notification_Sec_main h5 {

        font-size: 15px;

    }

}

@media only screen and (max-width:600px) {

    .print_btn a {

        display: flex;

        justify-content: center;

    }

    .main_flow div {

        margin-right: 0;

    }

    .main_side_bar_left {

        position: fixed;

        height: 100vh !important;

    }

    .main_content_disaster {

        padding-right: 0;

    }

    .main_content_disaster .main_content_disaster_row {

        margin-left: 0;

    }

    .back_btn {

        margin-top: 1rem;

    }

    .print_btn a img {

        margin-left: 10px;

    }

}

.disaster_p {
    padding: 15px 0px;
}

.disaster_p .row {
    padding: 0px 40px;
}

.situation_title {
    margin-bottom: 30px;
}

.situation_contant {
    margin-bottom: 50px;
}

.situation_report .modal-content {
    max-width: 714px;
}

.situation_contant p {
    font-size: 15px;
    color: #242424;
    font-family: 'Poppins';
    margin: 0px 54px;
    text-align: center;
}



/* from global forms page */
.donation_tab_pills{

    background: unset;

    box-shadow: none;

}

table, td, th{

    border: 0px;

}

.modal{

    visibility: unset;

}

.modal-groups{

    border-radius: 1.5rem;



}

.modal-groups .form-control{

    height: 55px; 

    background: #f5f5f5;       

}